<!DOCTYPE html>
<html>
<head>
	<title>My Website</title>
	<link rel="stylesheet" type="text/css" href="../static/style.css">
</head>
<body>
	<header>
		<nav>
			<ul>
				<li><a href="">About</a></li>
				<li><a href="">Event Manager</a></li>
				<li><a href="{{url_for('loginPage')}}">Sign In</a></li>
				<li><a href="{{url_for('signUpPage')}}">Sign Up</a></li>
			</ul>
		</nav>
		<div class="logo-wrapper">
		<img src="../static/2.jpg" alt="Logo" class="logo"> 
		<h1 id="#snap">SNAP SEEK!</h1>
	</div>
	</header>
	
	<main>
		<section>


			<p>Face Detection from Group Photos" is a web application designed to automatically detect and highlight faces in group photos. This tool uses advanced image processing algorithms and machine learning techniques to accurately identify individual faces and mark them with bounding boxes.</p>
              <p>  With this application, users can quickly and easily identify and locate specific people in group photos, saving time and effort that would have otherwise been spent manually scanning through the photo. Additionally, this tool is useful for businesses and event planners who need to keep track of attendees and guests in large group settings.
                </p>

				<p> 
					Overall, Face Detection from Group Photos is a powerful and user-friendly tool that streamlines the process of locating and identifying faces in group photos.</p>
		</section>

		<section>
			<h3>Demo Video</h3>
			<video width="320" height="180" controls>
				<source src="demo.mp4" type="video/mp4">
				Your browser does not support the video tag.
			</video>
			<h2>About Us</h2>
			<p>This  Website is Created and Managed by Team Coding Monks having team members:<br> 1.Aum Kansara <br>
																							  2.Keyur Jain<br>
																							  3.Nancy Patel
																							
			</p>
		</section>
	</main>
	
</body>
</html>
